.gs-title{
  text-align: center;
  margin: 10px 0px;
}

.glyphs{
  text-align: center;
}

.glyphs a:hover{
  text-decoration: none;
}

.glyphs a img{
  margin: 10px;
}

.disclaimer{
  color: #888;
  text-align: center;
  line-height: 22px;
}

.percentage{
    margin: 0px 5px;
}

.womanImage{
  float: right;
}

body .content{
  padding: 10px 0px;;
  background-color: #FAFAFA;
  border-radius: 10px;
}

#femalePercentage{
  text-align: right;
}
