Skip to content This repository Search Pull requests Issues Gist @joezcool02 Unwatch 3 Star 0 Fork 0 joezcool02/RubyAcorn PRIVATE Code Issues 0 Pull requests 0 Wiki Pulse Graphs Settings Tree: 1bc384e477 Find file Copy pathRubyAcorn/ModeM/ModeM/client/GlyphPieces/LightPiece/LightPiece.less 1bc384e on Nov 4, 2015 @joezcool02 joezcool02 Updating ModeM 1 contributor RawBlameHistory 125 lines (110 sloc) 2.91 KB
/* CSS declarations go here */

.SquareArea {
  display: inline-block;
  position: relative;
  margin: 150px 0;
  text-align: center;
}

.SquareArea  .BigSquare {
    height: 100px;
    width: 100px;
    -webkit-transition: all 5s ease-in-out 0.5s;
    -moz-transition: all 5s ease-in-out 0.5s;
    -o-transition: all 5s ease-in-out 0.5s;
    transition: all 5s ease-in-out 0.5s;
    background-color: #663C00;
    display: inline-block;
  }

.SquareArea  .MedSquare {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    -webkit-transition: all 2.5s ease-in-out 1s;
    -moz-transition: all 2.5s ease-in-out 1s;
    -o-transition: all 2.5s ease-in-out 1s;
    transition: all 2.5s ease-in-out 1s;
    background-color: #663C00;
    display: inline-block;
  }
.SquareArea  .LilSquare {
    height: 25px;
    width: 25px;
    margin: 0px 10px;
    -webkit-transition: all 2.5s ease-in-out 0.5s;
    -moz-transition: all 2.5s ease-in-out 0.5s;
    -o-transition: all 2.5s ease-in-out 0.5s;
    transition: all 2.5s ease-in-out 0.5s;
    background-color: #663C00;
    display: inline-block;
  }

  .SquareArea:hover .BigSquare {
    background-color: #FADD3B;
    box-shadow: 0px 0px 50px #FAE51B;
    border-radius: 100%;
    -ms-transform: rotate(720deg);
    /* IE 9 */
    -webkit-transform: rotate(720deg);
    /* Chrome, Safari, Opera */
    transform: rotate(720deg);
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
  }

  .SquareArea:hover .MedSquare {
    background-color: #FADD3B;
    box-shadow: 0px 0px 50px #FAE51B;
    border-radius: 100%;
    margin: 25px 10px;
    -ms-transform: rotate(1000deg);
    /* IE 9 */
    -webkit-transform: rotate(1000deg);
    /* Chrome, Safari, Opera */
    transform: rotate(1000deg);
    -webkit-transition: all 2.5s ease-in-out 2s;
    -moz-transition: all 2.5s ease-in-out 2s;
    -o-transition: all 2.5s ease-in-out 2s;
    transition: all 2.5s ease-in-out 2s;
  }

  .SquareArea:hover .LilSquare {
    background-color: #FADD3B;
    box-shadow: 0px 0px 50px #FAE51B;
    border-radius: 100%;
    margin: 35px 10px;
    -ms-transform: rotate(3000deg);
    /* IE 9 */
    -webkit-transform: rotate(3000deg);
    /* Chrome, Safari, Opera */
    transform: rotate(3000deg);
    -webkit-transition: all 2.5s ease-in-out 2.5s;
    -moz-transition: all 2.5s ease-in-out 2.5s;
    -o-transition: all 2.5s ease-in-out 2.5s;
    transition: all 2.5s ease-in-out 2.5s;
  }

  .SquareArea .SunLine {
    position: absolute;
    width: 100%;
    border-bottom: 5px solid #663C00;
    bottom: 50px;
    width: 0%;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all 2.5s ease-in-out 2.5s;
    -moz-transition: all 2.5s ease-in-out 2.5s;
    -o-transition: all 2.5s ease-in-out 2.5s;
    transition: all 2.5s ease-in-out 2.5s;
  }

  .SquareArea:hover .SunLine {
    border-bottom: 1px solid #FAE51B;
    width: 100%;
    bottom: 50px;
    -webkit-transition: all 2.5s ease-in-out 2.5s;
    -moz-transition: all 2.5s ease-in-out 2.5s;
    -o-transition: all 2.5s ease-in-out 2.5s;
    transition: all 2.5s ease-in-out 2.5s;
  }
